* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    color: #272727;
    width: 100vw;
    height: 100vh;
    background-color: #ffcfdf;
    background-image: linear-gradient(315deg, #ffcfdf 0%, #b0f3f1 74%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

header h1 {
    text-align: center;
}

div p {
    margin: 1rem;
}

.map-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}

#map {
    height: 400px;
}

footer p a {
    text-decoration: none;
    color: #272727;
    transition: all 0.3s ease;
}

footer p a:hover {
    color: #00cc00;
}
